.header{
    border-bottom: 2px solid rgb(138, 125, 125);
}

.HeaderWrapper{
    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    margin: 0;
    padding: 20px 50px;
}

.nav a{
    gap: 10px;
    color: black;
   padding: 20px;
}

.buttonmenuL{
    padding: 15px;
    width: 130px;
    font-weight: 700;
    background-color: #d7e2d8;
    color: #4CAF4F;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.buttonmenuR{
    margin: 16px;
    padding: 10px 10px;
    width: 130px;
    font-weight: 700;
    background-color: #4CAF4F;
    border: 2px solid #4CAF4F;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.buttonmenuL:hover{
    color: rgb(255, 255, 255);
    background-color: #4CAF4F;
    transition: 0.7s all;
}

